<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Im4ster</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <style>
        .btn-start {
            left: 58%;
        }
        
        .cards {
            z-index: 500;
        }
        
        .selection {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            position: fixed;
            z-index: 400;
            right: 1rem;
            top: 18rem;
            width: 4.5rem;
            height: 10rem;
            border-radius: 2rem;
            box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.7), -4px -4px 5px 0 rgba(255, 255, 255, 0.4);
            background: linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.25));
        }
        
        .selection a {
            border-radius: 1.5rem;
            text-align: center;
            width: 3rem;
            height: 3rem;
            line-height: 2.7rem;
            border: 0px;
            color: white;
            text-decoration: none;
        }
        
        .pressed {
            box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.2), inset -3px -3px 5px 0 rgba(255, 255, 255, 0.4);
        }
        
        .not-pressed {
            background-color: rgba(255, 255, 255, 0.1);
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.6), -3px -3px 5px 0 rgba(255, 255, 255, 0.3);
        }
        
        .cardInput input {
            position: fixed;
        }
        
        .cardInput img {
            border-radius: 0.4rem;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body style="background-color: rgb(75, 11, 11)">
    <!--<div style="height: 100vh; width:100%; background-color:rgba(32, 32, 32, 0.473);margin:0;padding:0;position:fixed;top:0;left:0;z-index:2"></div>-->
    <!--이미지 출처 http://acbl.mybigcommerce.com/52-playing-cards/ -->
    <div style="width: 100%; height: 100vh; position: fixed; display: flex; justify-content: center; align-items: center;">
        <img style="width: 1050px; height: auto" src="{{url_for('static', filename='img/bg_board.png')}}" alt="bg_board" />
    </div>
    <div class="selection">
        <a href="/" class="not-pressed" id="mode-drag">Drag</a>
        <a href="/click" class="pressed" id="mode-click">Click</a>
    </div>
    <form action="/postCard" method="POST">
        <input type="submit" class="btn-start" value="Start" />
        <div style=" display: flex; justify-content: space-between; align-items: center;">
            <div style=" height: 100vh; margin: 0; width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
                <div style="display: flex; justify-content: space-between; width: 1200px">
                    <div class="cardInputBox">
                        <div class="cardInput">
                            <input name="p11" type="text" value=" " />
                        </div>
                        <div class="cardInput">
                            <input name="p12" type="text" value=" " />
                        </div>
                        <div class="cardInput">
                            <input name="p13" type="text" value=" " />
                        </div>
                        <div class="cardInput">
                            <input name="p14" type="text" value=" " />
                        </div>
                        <div class="cardInput cardInput-noInput">
                            <img src="{{url_for('static', filename='img/cards/back.jpg')}}" alt="" />
                        </div>
                        <div class="cardInput cardInput-noInput">
                            <img src="{{url_for('static', filename='img/cards/back.jpg')}}" alt="" />
                        </div>
                        <div class="cardInput cardInput-noInput">
                            <img src="{{url_for('static', filename='img/cards/back.jpg')}}" alt="" />
                        </div>
                    </div>
                    <div class="cardInputBox">
                        <div class="cardInput">
                            <input name="p21" type="text" value=" " />
                        </div>
                        <div class="cardInput">
                            <input name="p22" type="text" value=" " />
                        </div>
                        <div class="cardInput">
                            <input name="p23" type="text" value=" " />
                        </div>
                        <div class="cardInput">
                            <input name="p24" type="text" value=" " />
                        </div>
                        <div class="cardInput cardInput-noInput">
                            <img src="{{url_for('static', filename='img/cards/back.jpg')}}" alt="" />
                        </div>
                        <div class="cardInput cardInput-noInput">
                            <img src="{{url_for('static', filename='img/cards/back.jpg')}}" alt="" />
                        </div>
                        <div class="cardInput cardInput-noInput">
                            <img src="{{url_for('static', filename='img/cards/back.jpg')}}" alt="" />
                        </div>
                    </div>
                </div>

                <div class="cards" style="margin-top: 6px">
                    <div class="card"><img src="{{url_for('static', filename='img/cards/AS.jpg')}}" alt="AS" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/2S.jpg')}}" alt="2S" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/3S.jpg')}}" alt="3S" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/4S.jpg')}}" alt="4S" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/5S.jpg')}}" alt="5S" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/6S.jpg')}}" alt="6S" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/7S.jpg')}}" alt="7S" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/8S.jpg')}}" alt="8S" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/9S.jpg')}}" alt="9S" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/XS.jpg')}}" alt="XS" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/JS.jpg')}}" alt="JS" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/QS.jpg')}}" alt="QS" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/KS.jpg')}}" alt="KS" /></div>
                </div>
                <div class="cards">
                    <div class="card"><img src="{{url_for('static', filename='img/cards/AH.jpg')}}" alt="AH" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/2H.jpg')}}" alt="2H" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/3H.jpg')}}" alt="3H" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/4H.jpg')}}" alt="4H" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/5H.jpg')}}" alt="5H" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/6H.jpg')}}" alt="6H" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/7H.jpg')}}" alt="7H" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/8H.jpg')}}" alt="8H" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/9H.jpg')}}" alt="9H" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/XH.jpg')}}" alt="XH" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/JH.jpg')}}" alt="JH" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/QH.jpg')}}" alt="QH" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/KH.jpg')}}" alt="KH" /></div>
                </div>
                <div class="cards">
                    <div class="card"><img src="{{url_for('static', filename='img/cards/AD.jpg')}}" alt="AD" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/2D.jpg')}}" alt="2D" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/3D.jpg')}}" alt="3D" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/4D.jpg')}}" alt="4D" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/5D.jpg')}}" alt="5D" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/6D.jpg')}}" alt="6D" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/7D.jpg')}}" alt="7D" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/8D.jpg')}}" alt="8D" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/9D.jpg')}}" alt="9D" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/XD.jpg')}}" alt="XD" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/JD.jpg')}}" alt="JD" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/QD.jpg')}}" alt="QD" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/KD.jpg')}}" alt="KD" /></div>
                </div>
                <div class="cards" style="margin-bottom: 6px">
                    <div class="card"><img src="{{url_for('static', filename='img/cards/AC.jpg')}}" alt="AC" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/2C.jpg')}}" alt="2C" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/3C.jpg')}}" alt="3C" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/4C.jpg')}}" alt="4C" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/5C.jpg')}}" alt="5C" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/6C.jpg')}}" alt="6C" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/7C.jpg')}}" alt="7C" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/8C.jpg')}}" alt="8C" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/9C.jpg')}}" alt="9C" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/XC.jpg')}}" alt="XC" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/JC.jpg')}}" alt="JC" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/QC.jpg')}}" alt="QC" /></div>
                    <div class="card"><img src="{{url_for('static', filename='img/cards/KC.jpg')}}" alt="KC" /></div>
                </div>
                <div style="display: flex; justify-content: space-between; width: 1200px">
                    <div class="cardInputBox">
                        <div class="cardInput">
                            <input name="p41" type="text" value=" " />
                        </div>
                        <div class="cardInput">
                            <input name="p42" type="text" value=" " />
                        </div>
                        <div class="cardInput">
                            <input name="p43" type="text" value=" " />
                        </div>
                        <div class="cardInput">
                            <input name="p44" type="text" value=" " />
                        </div>
                        <div class="cardInput">
                            <input name="p45" type="text" value=" " />
                        </div>
                        <div class="cardInput">
                            <input name="p46" type="text" value=" " />
                        </div>
                        <div class="cardInput cardTrash">
                            <input name="p47" type="text" value=" " />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script>
        let i = 0;
        const inputDirection = ["p41", "p11", "p21", "p42", "p12", "p22", "p43", "p13", "p23", "p44", "p14", "p24", "p45", "p46", "p47"]
        const cards = document.querySelectorAll(".card");
        const dbcEvent = (c) => {
            const chosenCard = c.childNodes[0];
            const chosenCardNum = chosenCard.alt;
            const targetInput = document.querySelector(`input[name=${inputDirection[i]}]`);
            $(`input[name=${inputDirection[i]}]`).attr("value", chosenCardNum);
            const targetInputDiv = targetInput.parentNode;
            chosenCard.classList.toggle("animate__animated");
            chosenCard.classList.toggle("animate__flipInX");
            targetInputDiv.appendChild(chosenCard);
            i += 1;
        }
        cards.forEach((c) => {
            c.addEventListener("click", (event) => {
                dbcEvent(c)
            });
        })
    </script>
</body>

</html>